.sidebar {
  background-color: rgba(248, 232, 232, 0.726);
  color: rgb(2, 5, 150);
  height: 100%;
  width: 100%;
  font-size: x-large;
  padding: 20px;
  
}

h2{
  color:rgb(2, 5, 150);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
  background-color: rgba(214, 158, 74, 0.541);
}
.screen,
.login {
  height: 100vh;
  background-color: plum;
}

.screen {
  background: linear-gradient(to bottom, #d439b385, #1d2571aa),
    url("../public/img/kk.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.astonmartin {
  width: 100%;
  object-fit: cover;
}
.bentley {
  width: 100%;
  object-fit: cover;
}

.bugatti {
  width: 100%;
  object-fit: cover;
}
.ferrari {
  width: 100%;
  object-fit: cover;
}
.lamborghini {
  width: 100%;
  object-fit: cover;
}
.lotuscars {
  width: 100%;
  object-fit: cover;
}
.maserati {
  width: 100%;
  object-fit: cover;
}
.porsche {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.Rollsroyce {
  width: 100%;
  object-fit: cover;
}
.pro-menu-item {
  list-style: none !important;
}